POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=yousightseeing

HTTP_ADDRESS=:8080
LOG_LEVEL=DEBUG

GOOGLE_CLIENT_ID=your-google-client-id

ACCESS_SECRET=change-me
ACCESS_DURATION=15m
REFRESH_SECRET=change-me
REFRESH_DURATION=720h

ORS_API_KEY=your-ors-api-key
GEOPIFY_API_KEY=your-geoapify-api-key